body {
  background-image: url(../img/bg.jpg);
}
.section {
  height: 370px;
  width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -185px;
  margin-left: -160px;
  background-color: #fbfdfd;
  padding: 30px;
  border: #cfdede 1px solid;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.03);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.03);
}
.section h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  background-color: #01b3b3;
  display: block;
  width: 149px;
  height: 25px;
  padding: 8px;
  margin: 0;
  text-shadow: -1px -1px rgba(255, 255, 255, 0.2);
}
.section p {
  font-weight: 700;
  font-size: 12px;
}
.section p span {
  color: #01b3b3;
}
.header {
  position: absolute;
  margin-top: -34px;
}
.form-control {
  background: url(../img/bg.jpg);
  border-radius: 1px;
  height: 31px;
  width: 260px;
}
/* PLACEHOLDER STYLE */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: №777777;
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: №777777;
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: №777777;
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: №777777;
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
}
/*PLACEHOLDER STYLE END */
.form-btn {
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#01b2b2), to(#01c5c5));
  background: linear-gradient(0, #01b2b2, #01c5c5);
  background-color: #01b3b3;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 29px;
  height: 45px;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
  text-shadow: -1px -1px rgba(255, 255, 255, 0.2);
}
.e-mail {
  margin-top: 24px;
  margin-bottom: 10px;
}
.password {
  margin-top: 15px;
  margin-bottom: 11px;
}
.password-2 {
  margin-top: 15px;
  margin-bottom: 15px;
}
