body {
	background-image: url(../img/bg.png);
	background-attachment: fixed;
	width: 800px;
	margin: auto; 
	font-family: Arial;
}


.telo {
	background-color: #fff;
	padding-bottom: 40px;
}
.telo p {
	padding: 0 40px;
}


h1, h2, h3 {
	text-align: center;
	text-transform: uppercase;
}

h3 {
	font-weight: normal;
	color: #fff;
	background-color: #267148;
	padding-top: 3px;
}


.fav {
	font-style: italic;
	font-weight: 100;
}


.oglavl {
	padding: 0;
	background-color: #fff;
	color: #000;
}
ul {
	padding-left: 337px;
}



.text {
	padding-top: 5px;
	padding-bottom: none;
}
p {
	text-indent: 40px;
	text-align: justify;
}
blockquote p {
	margin: 5px 1px;
	font-style: italic;
	font-variant: small-caps;
	text-indent: 40px;
}


img {
	width: 800px;
	background-color: #fff;
}


a {
	text-decoration: none;
	color: #cc3333;
}
a:hover {
	color: #267148;
}


.return {
	display: block;
	text-align: center;
	padding-top: 5px;
}



.footer {
	padding: 0 40px;
	margin-top: 20px;
}
.footer span {
	font-style: italic;
}
.footer h4 {
	text-align: center;
margin: 4px;
}
.footer p {
	margin-top: 15px;
	text-indent: 0;
}

